body{
    background-color: bisque;
}
img{
    
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: 10%;
}

h1 {
    text-shadow: 8px -5px 8px rgb(132, 133, 102);
    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    font-weight: bold;
    line-height: 1.5;
    text-decoration: underline ;
}

h2, h3{
    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-left:10%;
}
h2{    text-decoration: overline;}

p{
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    max-width: 700px;
    line-height: 1.5;
    margin-left:10%;
}


ul{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type:symbols();
    list-style-position: inside;
    margin-left: 7%;
}

nav {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px 20px;
    background-color: #333;
    flex-wrap: nowrap;
}

nav ul {
    margin-left: 0%;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
}

nav a:hover {
    justify-content: center;
    align-items: center;
    display:flexbox;
    background-color: #555;
    border-radius: 100px;
}
footer{
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px 30px;
    white-space: nowrap;
    display: flex;
    background-color: #333;
}

footer div {
    display:flexbox;
}

footer p{
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;}

footer h4{align-items: center;
justify-content: center;}

table{
    width: 1050px;
    border: 1px #b99c9c solid;
    margin-left:10%;
    margin-bottom: 2%;
}

tr{
    vertical-align: center ;
}

th {
    background-color: #9e8686;
    width: 50%;
    height: 40px;
    text-align: center;
    border: 1px black dotted;
    font-weight: bolder;
}  

td {background-color: #e8dddd;
    text-align: center;}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form{
    padding-top: 10px;
    margin: 0 auto;
    width: 500px;
    height: 150px;
    justify-content: center;
}

input{
    margin-left: 2px;
    margin-bottom: 5px;
}

#contenedor{
    background-color:rgb(184, 159, 129) ;
    width: 500px;
    border: 2px solid;
    justify-content: center;
    margin: 0 auto;

}
p{
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 4px;
}

.fila {
    display: flex;
    justify-content: baseline;
}
label {
    width: 68px;
    text-align: end;
}
input{
    width: 150px;
    padding: 0 auto;
}

#enviar {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}





